@font-face {
  font-family: 'iconfont';  /* project id 1096648 */
  src: url('//at.alicdn.com/t/font_1096648_0ibfkvamlkfr.eot');
  src: url('//at.alicdn.com/t/font_1096648_0ibfkvamlkfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1096648_0ibfkvamlkfr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1096648_0ibfkvamlkfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_1096648_0ibfkvamlkfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1096648_0ibfkvamlkfr.svg#iconfont') format('svg');
}